.memory-node {
  position: relative;
  height: calc(100% - 5rem);
  max-width: 760px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  .memory-node-edit-btn{
    top: 80px;
    right: 40px;
    padding: 10px;
    position: absolute;
    border: none;
    border-radius: 10px;
    &:hover{
      cursor: pointer;
      background-color: #a9a9a9;
    }
  }
  .memory-node__header {
    margin-bottom: 2rem;
    height: 80px;
    .memory-node__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 0.5rem;
    }
    
    .memory-node__timestamp {
      font-size: 0.8rem;
      color: var(--text-muted);
    }
  }
  
  
  .memory-node__content {
    height: calc(100%   - 5rem);
    font-size: 1rem;
    line-height: 1.8;
    white-space: pre-wrap;
    background-color: antiquewhite;
    color: var(--text-primary);
  }
}

