.create {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
  // padding: 20px;
  .create-field {
    display: flex;
    flex-direction: column;
    height: 60px;
  }
  .create-editor {
    flex: 1;
  }
  #create-save {
    &:hover {
      cursor: pointer;
      background-color: #4f46e5;
    }
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: -10px;
    right: 10px;
    height: 36px;
    width: 56px;
  }
}
